* body {
    
}

img {
    width: 100%;
}

.principal {
    background: #d42d81;
    padding: 30px;
}

h1 {  
    text-align: center;
}

p {  
    text-align: center;
}

em strong{  
    color: red;
}

#missao{
    font-size: 20px;
}

.beneficios {
    background: #ffffff ;
    padding: 20px;
}

h2{
    text-align: center;

}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.imagembemeficios{
    width: 50%;
}

